/* Override sidebar to use on right side instead of left side from bootstrap */
@media (min-width: 992px) {
    .col-md-3 {
        float: right !important;
    }
    ul#mysidebar {
        right: 0;
        position: absolute;
        width: 225px;
    }
    .affix {
        right: 25px !important;
        position: fixed !important;
    }
}
@media (max-width: 991px) {
    .col-md-3 {
        position: relative !important;
    }
}
/* Override page to display on whole screen instead of static width. */
.container {
    width: 95% !important;
}
