/* Override sidebar to use on right side instead of left side from bootstrap */
@media (min-width: 992px) {
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: right;
    }
}
/* Override page to display on whole screen instead of static width. */
@media (min-width: 768px) {
    .container {
        width: 95% !important;
    }
    .col-md-9 {
        width: 80% !important;
    }
    .col-md-3 {
        width: 20% !important;
    }
}
