/* Fix up since bootstrap contain a bug */
@media (min-width: 991px) {
    .col-md-3 {
        float: left !important;
        position: relative !important;
    }
    .col-md-9 {
        float: left !important;
    }
    ul#mysidebar {
        width: 225px;
    }
}
/* Override page to display on whole screen instead of static width. */
.container {
    width: 95% !important;
}
