/* Fix up since bootstrap contain a bug */
@media (min-width: 991px) {
    .col-md-3 {
        float: left !important;
        position: relative !important;
        width: 250px !important;
    }
    .col-md-9
        width: auto !important;
        float: none !important;

        margin-left: 250px !important;
    }
    ul#mysidebar {
        width: 225px;
    }
    .affix {
        position: fixed !important;
    }
    div#toc {
        float: right !important;
    }
}
/* Override page to display on whole screen instead of static width. */
.container {
    width: 95% !important;
}
